# =========================
# Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# =========================
# IDEs
# =========================
# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/
bin/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & temp files
# =========================
*.log
*.tmp
*.swp

# =========================
# Archives & backups
# =========================
*.rar
*.zip
*.tar.gz
*.bak

# =========================
# Generated sources
# =========================
target/generated-sources/
target/generated-test-sources/
